/* user info */

.user-info {
	margin-bottom: 1em;
	padding: 1em;
	display: flex;
}

#user-avatar {
	width: 4em;
	height: 4em;
	margin: 0 1em;
	border-radius: 2em;
}

.name-bio-container {
	display: inline-block;
}

#user-name {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.8em;
}

/* navigator */

#navigator {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.option {
	padding: 0.5em 2em;
	transition: background-color 0.3s;
}

.option:hover {
	background-color: #ddda;
}

.option.selected {
	color: #6ae;
	border-bottom: dotted #6ae 2px;
}

@media (prefers-color-scheme: dark) {
	.option:hover {
		background-color: #777a;
	}
	.option.selected {
		color: #9cf;
		border-bottom: dotted #9cf 2px;
	}
}

/* app list */

.app-info {
	display: flex;
	align-items: center;
}

.app-icon {
	width: 2em;
	height: 2em;
	border-radius: 0.3em;
}

.app-name {
	margin: 0 2em;
}

.app-info button {
	margin-left: auto;
	padding: 0.3em 1em;
	background-color: #0000;
	color: #e67;
	border: solid #e67 1px;
	border-radius: 3px;
	transition: background-color 0.3s, color 0.3s;
}

.app-info button:hover {
	color: #fff;
	background-color: #e67;
}

#create-new-app {
	width: 80%;
	height: 5em;
	margin: 1em 10%;
	text-align: center;
	vertical-align: center;
	border: dashed #777 1px;
	border-radius: 10px;
	background-color: #0000;
	color: #777;
	transition: background-color 0.3s, color 0.3s;
}

#create-new-app::before {
	content: '+';
	margin-right: 0.6rem;
	font-size: 2em;
	vertical-align: middle;
}

#create-new-app:hover {
	border: none;
	color: #fff;
	background-color: #6aec;
}

@media (prefers-color-scheme: dark) {
	#create-new-app {
		border-color: #ccc;
		color: #ccc;
	}
	#create-new-app:hover {
		background-color: #9cf8;
	}
}
