.info-value,
#challenge-msg {
	display: inline-block;
	padding: 0.2em 0.5em;
	font-size: 1.1em;
	background-color: #eef;
	border-radius: 0.2em;
}

.next-step {
	background-color: #6ae;
	padding: 0.5em 1em;
	border: solid 1px #59d;
	border-radius: 0.3em;
	color: #fff;
}

.next-step:hover {
	background-color: #7bf;
}

.next-step:active {
	background-color: #59d;
}

.next-step:disabled {
	background-color: #ccc;
}

button.option {
	display: flex;
	align-items: center;
	padding: 0.5em;
	font-size: 1.1em;
	border: none;
	border-radius: 0.4em;
	background-color: #0000;
	transition: background-color 0.3s;
}

button.option img {
	width: 2em;
	height: 2em;
	margin-right: 1em;
}

button.option:hover:not(:disabled) {
	background-color: #6ae;
	color: #fff;
}

button.option:disabled {
	color: #aaa;
}

#auth-main {
	display: flex;
	flex-direction: row;
}

#qrcode[src] {
	width: 8em;
	height: 8em;
}

img.guide {
	height: 8em;
}

#auth-by-qrscan:has(#qrcode[src]) {
	margin-left: 2em;
	padding-left: 2em;
	border-left: dashed 2px #555;
}
#auth-by-qrscan li {
	margin: 0 0 1em;
}

#user-avatar {
	width: 4em;
	height: 4em;
	margin-right: 1em;
	border-radius: 2em;
}

.user-info {
	margin: 1em 0;
	padding: 1em;
	border-radius: 0.5em;
	border: solid 1px #999;
	display: flex;
	align-items: center;
}

.user-header, #user-bio {
	line-height: 2rem;
}

#user-name {
	font-size: 1.4rem;
	font-weight: bold;
}

#user-level {
	height: 0.8rem;
}

.user-header > span {
	margin-right: 0.5rem;
}

.user-uid-container {
	font-size: 0.8rem;
}

#bio {
	color: #333;
}

#remain {
	width: max-content;
	background: linear-gradient(to right, #69f, #6df);
	background-size: var(--remain, 0) 2px;
	background-repeat: no-repeat;
	background-position: bottom left;
	border-bottom: solid 1px rgba(127, 127, 127, 0.5);
}

@media screen and (max-width: 600px) {
	main {
		margin-left: 0.6em;
		margin-right: 0.6em;
		padding: 1.5em;
		width: auto;
	}

	.user-uid-container {
		display: block;
		line-height: initial;
	}
}

@media (prefers-color-scheme: dark) {
	.info-value,
	#challenge-msg {
		background-color: #222;
		color: #aaf;
	}

	button.option {
		background-color: #0000;
		color: #eee;
	}

	#copy {
		background-color: #333;
		color: #ccc;
		border: none;
	}
	
	#bio {
		color: #aaa;
	}

	#show-guide {
		color: #eee;
	}

	#remain {
		border-color: #888;
	}
}
