<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}bili-auth{% endblock %}</title>

	<link rel="stylesheet" href="/static/base.css">
	<script src='/static/display_userinfo.js' defer></script>
</head>
<body>
	<header>
		<span class='title'>bili-auth</span>
		<div id='user-display' onclick='location.href = "/verify"' hidden>
			<img id='header-avatar' src='/static/nonlogin.svg' referrerpolicy='no-referrer'>
			<span id='header-username'>未登录</span>
		</div>
	</header>

	<main>
	{% block main %}
		<p>欢迎使用 <strong>bili-auth</strong>，这是一个第三方实现的哔哩哔哩帐号验证服务。</p>
		<p>作为用户，您可以使用哔哩哔哩帐号快捷地登录已支持的应用。发送一条特定的私信给我们的机器人即可确认您的帐号，简单快捷，并且不会给您的帐号带来潜在安全风险。</p>
		<p>作为开发者，您可以轻松给您的应用添加哔哩哔哩帐号登录的功能。本项目提供遵循 OAuth 2.0 标准的接口，以方便开发者接入。本项目开源，您可自由部署。</p>
		<p>在哔哩哔哩观看
			<a href='https://www.bilibili.com/video/BV1iS4y1S7QB' target='_blank'>介绍视频</a>
			或者在 GitHub 浏览
			<a href='https://github.com/icyux/bili-auth' target='_blank'>项目仓库</a>
			以了解更多。
		</p>
	{% endblock %}
	</main>

	<footer>
		{% if homepage is not defined %}
		<div>
			<strong>bili-auth</strong>
			{% if version is defined and version is not none %}
			<span>{{ version }}</span>
			{% endif %}
		</div>
		<div>
			<span>第三方哔哩哔哩 OAuth 2.0 API</span> |
			<a href='https://www.bilibili.com/video/BV1iS4y1S7QB' target='_blank'>Bilibili</a> |
			<a href='https://github.com/icyux/bili-auth' target='_blank'>GitHub</a>
		</div>
		{% endif %}
	</footer>
</body>
</html>
