body {
	margin: 0;
	background-color: #eee
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #6ae;
	box-shadow: 0 0 0.5em;
}

header span.title {
	display: inline-block;
	font-size: 1.5em;
	color: inherit;
	margin: 0.5em 1em;
}

header {
	color: #fff;
}

header #user-display {
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	margin-right: 1em;
	padding: 0.6em;
	font-size: 1rem;
	border-radius: 0.5em;
	transition: background-color 0.5s;
}

header #user-display:hover {
	background-color: rgba(255,255,255,0.2);
}

#header-avatar {
	margin-right: 0.6em;
	width: 1.6em;
	height: 1.6em;
	border-radius: calc(50%);
}

main {
	width: 80vw;
	min-height: 50vh;
	margin: 3em auto 2em;
	padding: 3em;
	background-color: #fff;
	border-radius: 1em;
	box-shadow: 0 0 1em #aaa;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	padding: 2em 0;
	width: 50%;
	margin: auto;
	font-size: 0.8rem;
}

footer div {
	padding: 0.2em;
}

.url {
	color: #88f;
}

@media screen and (max-width: 600px) {
	main {
		margin-left: 0.6em;
		margin-right: 0.6em;
		padding: 1.5em;
		width: auto;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
	}

	header {
		background-color: #357;
		box-shadow: none;
		color: #eee;
	}

	main {
		background-color: #222;
		color: #ddd;
		box-shadow: none;
	}

	footer {
		color: #ccc;
	}

	a,
	.url {
		color: #66f;
	}
}

@media screen and (max-width: 700px) {
	header span {
		font-size: 1.2rem;
		color: #fff;
	}
	footer {
		width: 90%;
	}
}
