# for detailed configure instruction, see doc/deploy.md

[service]
	container = "gunicorn"
	host = "localhost"
	port = 8080

[database]
	# SQLite3 config

	type = "sqlite3"
	path = "./bili-auth.db3"

	# MySQL config

	#type = "mysql"
	#host = "localhost"
	#port = 3306
	#db = "db-name"
	#user = "user"
	#pswd = "password"

[bili]
	auto_user_agent = true

	use_web_id = false

	# respond after accepting verify request
	verifyResultResp = true

	saveRawUserInfo = false

[proxy]
	# proxy for requests
	enable = false
	# allow HTTP proxy only
	type = "http"
	addr = "host:port"

	# set if proxy is enabled for all requests including which bearing NO credentials
	globalProxy = false

[oauth_service]
	# base64 encoded HMAC key, randomly generated if not specified.
	hmac_key = ""

[log]
	format = "[%(module)s] %(levelname)s: %(message)s"

[debug]
	biliApiTest = true
