{% extends 'base.html' %}
{% block title %}授权第四方应用 | bili-auth{% endblock %}
{% block main %}
<link rel='stylesheet' href='/static/authorize.css'>
<script src='/static/authorize.js' defer></script>
<div id='step-0'>
	<h3 id='pending'>正在获取应用信息，请稍侯...</h3>
</div>
<div id='step-1' hidden>
	<h2>授权第四方应用</h2>
	<div class='info-display'>
		<div class='info-banner'>
			<div class='info-item' id='user-info'>
				<img class='icon' id='avatar'>
				<div id='user-name'></div>
			</div>
			<div id='middle-arrow'>→</div>
			<div class='info-item' id='app-info'>
				<img class='icon' id='app-icon'>
				<div id='app-name'></div>
			</div>
		</div>
		<div class='app-detail'>
			<h4>应用详情</h4>
			<div>Client ID：<span class='info-value' id='app-id'></span></div>
			<div>简介：<em>"<span id='app-desc'></span>"</em></div>
			<div>URL：<a id='app-url' target='_blank'></a></div>
		</div>
	</div>

	<p>该应用申请验证您的哔哩哔哩帐号。</p>
	<p>点击"确认授权"后，您将会被重定向到应用指定的回调地址，结束授权流程。</p>
	<button class='confirm' onclick='authorizeApp()'>确认授权</button>
</div>
{% endblock %}
