<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}OAuth Center | bili-auth{% endblock %}</title>

	<link rel="stylesheet" href="/static/base.css">
</head>
<body>
	<header>
		<span>bili-auth</span>
	</header>

	<main>
	{% block main %}
		<div>Welcome to OAuth Center! Why not start a request now? </div>
	{% endblock %}
	</main>

	<footer>
		<div>bili-auth: third-party implemented auth api with Bilibili account.</div>
		<div>GitHub: <a href="https://github.com/vapehacker/bili-auth">vapehacker/bili-auth</a>
	</footer>
</body>
</html>
