{% extends 'base.html' %}
{% block title %}通过您的哔哩哔哩帐号登录第三方应用 | bili-auth{% endblock %}
{% block main %}
<script src="/static/oauth.js"></script>
<div id='step-0'>
	<h3 id='pending'>正在获取应用信息，请稍侯...</h3>
</div>
<div id='step-1' hidden>
	<h3>一个应用正在请求您的帐号信息</h3>
	<div class='app-info'>
		<div>名称：<span class='info-value' id='app-name'></span></div>
		<div>ClientID：<span class='info-value' id='app-id'></span></div>
		<div>URL：<span class='info-value' id='app-url'></span></div>
	</div>

	<p>该应用申请验证您的哔哩哔哩帐号。</p>
	<p>我们只会验证您对帐号的所有权，以及访问您帐号的公开信息（如昵称、头像、uid）。我们不会也无法查看您的私有信息。</p>
	<p>接下来，您只需要一个能收发私信的哔哩哔哩帐号，以及少于一分钟的时间完成验证。</p>
	<button class='next-step' onclick="startVerify();">开始验证</button>
</div>
<div id='step-2' hidden>
	<p>请复制这段文本：<span id='challenge-msg'></span></p>
	<p>
		将上面的这段文本，通过私信发送给机器人帐号
		<a id='target-bot' target='_blank' href='https://message.bilibili.com/#/whisper/mid{{ botUid }}'>
			@BotFather
		</a>
		。
	</p>
	<p>确认发送完毕后，点击"下一步"。</p>
	<button class='next-step' onclick="checkVerify();">下一步</button>
</div>
<div id='step-3' hidden>
	<h3>您的用户信息已验证</h3>
	<div class='user-info'>
		<img id='avatar' src=''>
		<div class='name-bio-container'>
			<div id='user-name'></div>
			<div id='bio'></div>
		</div>
	</div>
	<p>点击"完成"后，将您重定向到应用指定的回调地址，结束验证流程。</p>
	<button class='next-step' onclick="redirectCallback();">完成</button>
{% endblock %}
