{% extends 'base.html' %}
{% block title %}验证帐号 | bili-auth{% endblock %}
{% block main %}
<link rel='stylesheet' href='/static/verify.css'>
<script src='/static/ua_parse.js' defer></script>
<script src='/static/verify.js' defer></script>
<div id='step-0'>
	<h3>验证您的哔哩哔哩帐号</h3>
	<p>我们将通过私信验证的方式，确认您对某个哔哩哔哩帐号的所有权。</p>
	<p>
		我们只会验证您对帐号的所有权，以及访问您帐号的公开信息（UID、昵称、头像、个性签名）。
		我们不会要求您提供，也无法查看您的私有信息（如手机号、密码、邮箱、与其他用户的私信等）。
	</p>
	<p>接下来，您只需要一个能收发私信的哔哩哔哩帐号，以及少于一分钟的时间完成验证。</p>
	<button class='next-step' onclick='startVerify()'>开始验证</button>
</div>
<div id='step-1' hidden>
	<p>
		请复制这段文本：
		<span id='challenge-msg'></span>
		<button id='copy' onclick='copyVerifyCode()'>复制</button>
	</p>
	<p>
		将上面的这段文本，通过哔哩哔哩私信发送给机器人帐号
		<a id='target-bot' target='_blank' href='https://message.bilibili.com/#/whisper/mid{{botUid}}'>@{{ botName }}</a>
		。
		<button id='show-guide' onclick='showGuide()'>如何发送私信</button>
	</p>
	<div id='guide' hidden>
		<h4>网页端：</h4>
		<p>点击上方蓝色的链接将跳转到哔哩哔哩官网，在当前浏览器的新标签中打开私信页面。</p>
		<h4>手机端 / 移动端 / iOS端 / Android端：</h4>
		<p>打开 App 首页 &gt; 顶部搜索栏中搜索用户 "{{botName}}" &gt; 找到名为 "{{botName}}" 的用户，点开其个人空间 &gt; 点击右上方的消息图标，发起私聊。</p>
		<h4>电脑端 / Win端 / macOS端：</h4>
		<p>请使用网页端完成私信操作，因为目前桌面端（尤其是 Win 客户端）的私信功能支持不完善。</p>
	</div>
	<p>请在六分钟内完成验证。若提示验证过期，请刷新网页以重新开始验证。</p>
	<p>确认发送完毕后，请点击"下一步"。</p>
	<button class='next-step' onclick='checkVerify()'>下一步</button>
</div>
<div id='step-2' hidden>
	<h3>帐号验证完成，以下为您的用户信息。</h3>
	<div class='user-info'>
		<img id='avatar' src=''>
		<div class='name-bio-container'>
			<div id='user-name'></div>
			<div id='bio'></div>
		</div>
	</div>
	<button class='next-step' onclick='redirect2origin()'>下一步</button>
</div>
{% endblock %}
